:root.theme-dark {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --btn-color:#ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --menu-color: #ff0070;
  --heading-color: #FF0070;
  --bg-color: #000028;
  --heading-color: #000028;
}

.theme-dark .header__rec {
  display: flex;
}