/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  block-size: auto;
  grid-template-columns: 1fr;
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  padding: var(--padding);
  margin-bottom: 40px;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  justify-self: end;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  margin-top: 10px;
  margin-right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  justify-self: start;
  align-self: end;
  border-inline-start: 1px solid var(--btn-color, #ff0070);
  border-block-end: 1px solid var(--btn-color, #ff0070);
  margin-bottom: 10px;
  margin-left: 10px;
}

.header__rec {
  position: absolute;
  display: flex;
  gap: 19px;
  inset-block-start: 6px;
  inset-inline-end: calc(var(--padding) + 56px);
}

.header__rec::before {
  content: "REC";
  text-transform: uppercase;
  display: block;
  font-family: var(--main-font, IBM Plex Mono, Arial);
  font-weight: var(--weight-main);
  font-size: var(--text-size);
  line-height: 25px;
  color: var(--accent-color, #ff0070);
  margin-top: 4px;
  margin-right: -8px;
}

.header__rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  margin-top: 12px;
  margin-right: -47px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.header__theme-menu-item {
  font-size: var(--text-size);
  align-self: center;
}

.header__theme-menu-button {
  padding-inline-end: 13px;
  padding-inline-start: 9px;
  text-align: center;
  border: none;
  background: transparent;
  font-family: var(--main-font);
  text-transform: lowercase;
  color: var(--menu-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--btn-color);
  padding: 0 13px 1px;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover);
  cursor: pointer;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  font-weight: var(--weight-subheading, 700);
  margin-bottom: var(--padding);
  font-size: var(--text-size);
}

.header .title-decor {
  margin: 0;
  align-self: center;
}
.title {
  font-family: var(--main-font, IBM Plex Mono);
  font-weight: 700;
  line-height: 83%;
  align-self: center;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title::after {
  content: "";
  position: absolute;
  text-shadow: 4px 4px var(--accent-color, #ff0070);
}

h2,
h3,
h4 {
  color: var(--heading-color);
  font-family: var(--main-font);
  font-weight: var(--weight-subheading);
  font-size: var(--text-size);
}

.link__effect {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.link__effect:hover {
  border-bottom: 1px solid var(--text-color);
}

.link__effect:focus-visible {
  outline: none;
}

.link__effect:focus {
  outline: var(--text-color) 1px solid;
}

.content {
  background-color: var(--bg-color, #000028);
}

.content-text {
  padding: 0 var(--padding);
}

.first {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
}

.second {
  margin-bottom: 50px;
}

.questions {
  padding: 0px 9px 19px 0;
  color: var(--menu-color);
  line-height: 23.4px;
}

.main-text {
  font-family: var(--main-font, IBM Plex Mono);
  font-weight: var(--weight-main);
  color: var(--text-color, #f1b2ce);
  font-size: var(--text-size);
  line-height: 23.4px;
}

.text-section:not(:first-child) {
  margin-bottom: calc(var(--padding) * 2);
}

.description {
  margin-bottom: 20px;
}

.advice {
  font-weight: var(--weight-main);
}

.advice-subheading {
  margin-bottom: 20px;
}

.pictures {
  block-size: 100%;
  margin-top: -1px;
}

.pictures .title-decor {
  margin-bottom: var(--padding);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  box-sizing: border-box;
  grid-auto-flow: dense;
}

.gallery__item {
  min-block-size: 4.3em;
  margin: 0;
  display: grid;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px 0 2px;
  padding: var(--padding);
  min-height: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 5.7688rem + 6.32vw, 9.8125rem);
  margin-bottom: 0;
  justify-self: center;
  line-height: 82.5%;
}

@media (width >= 768px) {
  .page {
    min-block-size: 768px;
  }

  .header {
    margin-bottom: 60px;
    padding: 20px;
  }
  
  .decorated-zone::after {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .decorated-zone::before {
    margin-top: 20px;
    margin-right: 20px;
  }
  .header .title-decor {
    inline-size: 47.5vw;
    justify-self: end;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__rec::before {
    margin-top: 15px;
    margin-right: -6px;
  }

  .header__rec::after {
    margin-top: 22px;
    margin-right: -39px;
  }
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: calc(var(--padding) * (-2));
  }
  
  .first {
    display: grid;
    grid-template-columns: 33% 67%;
    gap: 18px;
    padding-inline-end: 5px;
    margin-bottom: 60px;
  }

  .second .questions {
    display: grid;
    grid-template-columns: 32% 68%;
    padding-inline-start: 0;
  }

  .second {
    margin-bottom: 80px;
  }

  .content-text {
    padding: 0 20px;
  }
  .description-list-first {
    padding: 0 12px 0 0;
  }

  .pictures .title-decor {
    margin-bottom: calc(var(--padding) * 2);
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
    grid-auto-flow: dense;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2/5;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/5;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__title {
    margin-inline-start: 0;
    margin-block-end: 0;
  }
}

@media (width >= 1024px) {
  .page {
    min-inline-size: 1024px;
  }

  .header {
    padding: 20px;
  }

  .header .title-decor {
    inline-size: 48vw;
  }

  .title {
    position: relative;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 15px;
  }

  .header__rec::before {
    margin-top: 15px;
    margin-right: -6px;
  }

  .header__rec::after {
    margin-top: 22px;
    margin-right: -39px;
  }

  .text-section .description {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: start;
    gap: 20px;
  }

  .questions {
    padding: 0 0 20px 8px;
  }

  .title-decor {
    grid-column: 1;
  }

  .first {
    margin-left: -8px;
  }

  .second {
    margin-bottom: 60px;
  }
  
  .content {
    padding: 0 20px;
  }

  .content-text {
    padding: 0;
  }

  .main-text {
    grid-column: 2;
  }

  .description-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .description-list-first {
    padding-right: 13px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
    grid-auto-flow: dense;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2/5;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/5;
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--color);
    margin: 0;
    bottom: 0;
  }
  
  footer .decorated-zone::before {
    margin-top: 38px;
  }

  footer .decorated-zone::after {
    margin-bottom: 1px;
  }
}

@media (prefers-color-scheme: light) {
  
  :root {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --title-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --menu-color: #353430;
  }
}
